@model TestTask.Models.FilmDetailsViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Фильм " + Model.FilmName;
}

<div class="pt-5em row">
    <div class="col-md-4 col-sm-12">
        @if (!string.IsNullOrEmpty(Model.PosterURL))
        {
            <img class="poster" src="@Url.Content(string.IsNullOrEmpty(Model.PosterURL) ? "~/Content/empty.jpg": Model.PosterURL)" />
        }
        else
        {
            <img class="poster" src="~/Content/empty.jpg" />
        }
    </div>
    <div class="col-md-8 col-sm-12">
        <h3>@Html.DisplayFor(model => model.FilmName)</h3>

        <small>Год: @Html.DisplayFor(model => model.Year)</small><br />
        <small>Продюссер: @Html.DisplayFor(model => model.Director)</small>
        <div class="author-info">
            <h4>Информация об авторе</h4>
            <small>Email: <a href="mailto:@Model.CreatorEmail">@Model.CreatorEmail</a></small>
        </div>
        <div class="film-description">
            <h4>Описание</h4>
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
</div>

<p>
    @if (Model.CanEdit)
    {
        @Html.ActionLink("Редактировать", "Create", new { id = Model.FilmId })
    }
</p>

@section Styles{
    @Styles.Render("~/styles/film.details")
}

