@model TestTask.Models.FilmsListViewModel
@using TestTask.Helpers

@{
    ViewBag.Title = "Тестовое задание";
}

<div class="row film-list">
    @foreach (var film in Model.Films)
    {
        <div class="film-item col-md-3 col-sm-12">
            <div class="image-preview"
                 style="background-image: url('@Url.Content(string.IsNullOrEmpty(film.PosterURL) ? "~/Content/empty.jpg" : film.PosterURL)')">
                <div class="film-info">
                    <div class="film-head">
                        <h3>
                            @film.Name
                        </h3>
                        <p>
                            <small>Год: @film.Year</small>
                        </p>
                    </div>
                    <div class="film-description">
                        @film.Descrition
                    </div>
                    <div class="more-info-btn">
                        @Html.ActionLink("Подробнее", "Details", new { id = film.Id }, new { @class = "btn btn-info" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="pagination row">
    <div class="btn-group">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("List", new { page = x }))
    </div>
</div>

@section Styles {
    @Styles.Render("~/styles/films.list")
}

